### LSE Data Analytics Online Career Accelerator

# Course 2: Data Analytics using Python

## Assignment: Diagnostic Analysis using Python

Youâ€™ll be working with real-world data to address a problem faced by the National Health Service (NHS). The analysis will require you to utilise Python to explore the available data, create visualisations to explore and communicate trends, and extract meaningful insights to inform decision-making. This Jupyter Notebook is the starting point and it is important to document all your decisions and observations to ensure that these are available as inputs to the technical report and business presentation that will form part of your submission.

### A note for students using this template
This Jupyter Notebook is a template you can use to complete the Course 2 assignment: Diagnostic Analysis using Python. 
Keep in mind the following points: 
- Using this template as your working document is optional, it is **not required** to use this template to complete the assignment. 
- The intention of the template is to provide suggestions regarding the structure and workflow that is expected and it follows the assignment activites throughout the course.
- Refer to the guidance in the Assignment Activity pages for specific details. 
- The markup and comments in this template identify the key elements you need to complete before submitting the assignment.
- Make this notebook your own by adding comments, cells, and content to reflect your analytical journey. You can add links, screenshots, or images to support your analysis, refine or clarify the questions, and change the workflow to suit your process. Important elements include:
    - code comments
    - Markdown cells with your observations, interpretation, and notes in anticipation of the technical report and business presentation.
- All code output and visualisations should be functional and visible in the submitted Jupyter Notebook. 
- If you decide to use this template for your assignment, make a copy of the notebook and save it using the assignment naming convention: **LastName_FirstName_DA201_Assignment_Notebook.ipynb**.
- Be sure to save frequent snapshots of your Jupyter Notebook to ensure that you can recover work if required.

 > ***Markdown*** Remember to change cell types to `Markdown`. You can review [Markdown basics](https://docs.github.com/en/ge
t-started/writing-on-github/getting-started-with-writing-and-formatting-on-github/basic-writing-and-formatting-syntax) to find out how to add formatted text, links, and images to your notebook.
 
 
 > ***Notebook state*** Remember that you will have to execute all the code in your notebook (from the start of the notebook to where you are currently working) every time you restart your Jupyter Notebook server or when working in a new session. Make sure that your notebook is in the correct state before continuing with the work for the current module.

#

## 1) Assignment activity 1
In the first module you are encouraged to explore the data and the provided template. You should also reflect on the scenario and use case and start to document your own interpretation of the business questions and how you will go about answering them.

## Steps
1) Import all necessary libraries \
2) Import the files using the read functions for each data type (excel, csv, etc) \
3) Visualise what is stored in the datasets series using. column; .head(), .shape ; .dtypes \
4) Check for missing values using the. isna() function and, from that, calculate number of missing values \
5) Explore the business questions after reviewing the different datasets

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import requests
import json
import numpy as np
import ipywidgets as widgets
import time
import scipy as sp
import statsmodels.api as sm
import datetime
import os

## Datasets Exploration

##  Available Datasets
1. actual_duration.csv â€“ Details of appointments made by patients. For example, the regional information, date, duration, and number of appointments pertaining to a certain class.
2. appointments_regional.csv â€“ Details on the type of appointments made by patients. For example, regional information, the month of appointment, appointment status, healthcare professional, appointment mode, the time between booking and the appointment, as well as the number of appointments pertaining to a certain class.
3. national_categories.xlsx â€“ Details of the national categories of appointments made by patients. For example, the regional information, date of appointment, service setting, type of context, national category, and the number of appointments pertaining to a certain class.
4. tweets.csv â€“ Data related to healthcare in the UK scraped from Twitter.
5. metadata_nhs.txt â€“ Details of the data set, data quality, and reference.

## Steps
**2)Import the files using the read functions for each data type (excel, csv, etc)\
3)Visualise what is stored in the datasets series using. column; .head(), .shape ; .dtypes.**

In [2]:
#start reading all the  files

# Use the pd.read_csv() function.
ad = pd.read_csv('actual_duration.csv')
                    
# Print the DataFrame.
ad
#Call the dataframe
ad.head()

,sub_icb_location_code,sub_icb_location_ons_code,sub_icb_location_name,icb_ons_code,region_ons_code,appointment_date,actual_duration,count_of_appointments
0,00L,E38000130,NHS North East and North Cumbria ICB - 00L,E54000050,E40000012,01-Dec-21,31-60 Minutes,364
1,00L,E38000130,NHS North East and North Cumbria ICB - 00L,E54000050,E40000012,01-Dec-21,21-30 Minutes,619
2,00L,E38000130,NHS North East and North Cumbria ICB - 00L,E54000050,E40000012,01-Dec-21,6-10 Minutes,1698
3,00L,E38000130,NHS North East and North Cumbria ICB - 00L,E54000050,E40000012,01-Dec-21,Unknown / Data Quality,1277
4,00L,E38000130,NHS North East and North Cumbria ICB - 00L,E54000050,E40000012,01-Dec-21,16-20 Minutes,730

In [3]:
ad.shape #check the number of row and columns of the file

(137793, 8)

In [4]:
ad.columns #check all the variables in the file

Index(['sub_icb_location_code', 'sub_icb_location_ons_code',
       'sub_icb_location_name', 'icb_ons_code', 'region_ons_code',
       'appointment_date', 'actual_duration', 'count_of_appointments'],
      dtype='object')


the columns in the actual_duration are:\
['sub_icb_location_code', 'sub_icb_location_ons_code',
       'sub_icb_location_name', 'icb_ons_code', 'region_ons_code',
       'appointment_date', 'actual_duration', 'count_of_appointments']

In [5]:
# Specify the name of the CSV file.
ar = pd.read_csv('appointments_regional.csv')
                    
# Call the DataFrame.
ar.head()

,icb_ons_code,appointment_month,appointment_status,hcp_type,appointment_mode,time_between_book_and_appointment,count_of_appointments
0,E54000034,2020-01,Attended,GP,Face-to-Face,1 Day,8107
1,E54000034,2020-01,Attended,GP,Face-to-Face,15 to 21 Days,6791
2,E54000034,2020-01,Attended,GP,Face-to-Face,2 to 7 Days,20686
3,E54000034,2020-01,Attended,GP,Face-to-Face,22 to 28 Days,4268
4,E54000034,2020-01,Attended,GP,Face-to-Face,8 to 14 Days,11971

In [6]:
ar.shape

(596821, 7)

In [7]:
ar.columns

Index(['icb_ons_code', 'appointment_month', 'appointment_status', 'hcp_type',
       'appointment_mode', 'time_between_book_and_appointment',
       'count_of_appointments'],
      dtype='object')


The columns in the appointment_regional dataset are:\
(['icb_ons_code', 'appointment_month', 'appointment_status', 'hcp_type',\
       'appointment_mode', 'time_between_book_and_appointment', 'count_of_appointments']

In [8]:
# Specify the name of the CSV file.
tweets = pd.read_csv('tweets.csv')
                    
# Print the DataFrame.
tweets
tweets.head()

,tweet_id,tweet_full_text,tweet_entities,tweet_entities_hashtags,tweet_metadata,tweet_retweet_count,tweet_favorite_count,tweet_favorited,tweet_retweeted,tweet_lang
0,1567629223795527681,As Arkansasâ€™ first Comprehensive Stroke Certif...,"{'hashtags': [{'text': 'Healthcare', 'indices'...",#Healthcare,"{'iso_language_code': 'en', 'result_type': 're...",0,0,False,False,en
1,1567582846612553728,RT @AndreaGrammer: Work-life balance is at the...,"{'hashtags': [{'text': 'PremiseHealth', 'indic...","#PremiseHealth, #hiring","{'iso_language_code': 'en', 'result_type': 're...",2,0,False,False,en
2,1567582787070304256,RT @OntarioGreens: $10 billion can go a long w...,"{'hashtags': [{'text': 'Healthcare', 'indices'...",#Healthcare,"{'iso_language_code': 'en', 'result_type': 're...",39,0,False,False,en
3,1567582767625428992,RT @modrnhealthcr: ðŸš¨#NEW:ðŸš¨ Insurance companies...,"{'hashtags': [{'text': 'NEW', 'indices': [20, ...",#NEW,"{'iso_language_code': 'en', 'result_type': 're...",5,0,False,False,en
4,1567582720460570625,ICYMI: Our recent blogs on Cybersecurity in Ac...,"{'hashtags': [{'text': 'blogs', 'indices': [18...","#blogs, #digitaltransformation, #cybersecurity...","{'iso_language_code': 'en', 'result_type': 're...",0,0,False,False,en

In [9]:
tweets.columns

Index(['tweet_id', 'tweet_full_text', 'tweet_entities',
       'tweet_entities_hashtags', 'tweet_metadata', 'tweet_retweet_count',
       'tweet_favorite_count', 'tweet_favorited', 'tweet_retweeted',
       'tweet_lang'],
      dtype='object')

In [ ]:
#Read the excel file
nc = pd.read_excel('national_categories.xlsx')

nc.head()

In [ ]:
nc.shape

In [ ]:
nc.columns

## 2) Assignment activity 2
#  Exploration and descriptive statistics
- Import the three indicated data sources and perform basic exploratory analysis including obtaining descriptive statistics.
- Determine and comment on the quality, usefulness, and opportunities contained in the data sets.
- Document initial observations and findings.

Are there any comments regarding data quality or descriptive statistics worth noting for each of the data sets?
Can you comment on other features (columns) that could potentially be useful in your analysis?

In [ ]:
# Import other libraries if required. (Note that you can revisit this section in later modules.)

# Optional - Ignore warnings.
import warnings
warnings.filterwarnings('ignore')

In [ ]:
# View the DataFrame actual_durantion (ad)
ad.head(5)

In [ ]:
# Check for missing values
# Create a new DataFrame and use the isna() function to find missing values.
ad_na = ad[ad.isna().any(axis=1)]

# View the shape of the DataFrame.
ad_na.shape

#out=(0, 8)

#the output says there is ZERO rows with NA values across 8 columns (0,8)

In [ ]:
# Review metadata and descriptive statistics.
ad.describe().round(1)
#added the round to have only numbers with 1 decimal after the zero

In [ ]:
# Import and sense-check 'appointments_regional.csv' as ar.
ar = pd.read_csv('appointments_regional.csv')

In [ ]:
# View the DataFrame.
ar.head()

In [ ]:
# Check for missing values
# Create a new DataFrame and use the isna() function to find missing values.
ar_na = ar[ar.isna().any(axis=1)]

# View the shape of the DataFrame.
ar_na.shape

#out=(0, 7)

#the output says there is ZERO rows with NA values across 7 columns (0,8)

In [ ]:
# Review metadata and descriptive statistics.
ar.describe().round(1)
#added the round to have only numbers with 1 decimal after the zero

In [ ]:
# Check for missing values.
tweets_na = tweets[tweets.isna().any(axis=1)]

# View the shape of the DataFrame.
tweets_na.shape

#out=(0, 8)

#the output says there is 167 rows with NA values across 10 columns (0,Y)

In [ ]:
tweets.info()
#null rows are located in the tweet_entities_hashtags column

In [ ]:
# Check for missing values.
nc_na = nc[nc.isna().any(axis=1)]

# View the shape of the DataFrame.
nc_na.shape

#out=(0, 8)

In [ ]:
# Review metadata and descriptive statistics.b
nc.describe().round(1)
#added the round to have only numbers with 1 decimal after the zero

In [ ]:
nc.info()

# General Observations
-	The only numeric variable in the datasets is count_of_appointment\
-	Absence of variables on staff numbers or the number of patients to calculate capacity directly\
-	Absence of variables related to NHS costs

## **Question 1:** How many locations are there in the data set? 
## A1. Number of unique locations: 106

In [ ]:
num_locations = ad['sub_icb_location_name'].nunique()
print("Number of unique locations:", num_locations)

In [ ]:
nc.groupby('sub_icb_location_name')[['count_of_appointments']].sum().\
sort_values('count_of_appointments', ascending=False).round(1)

## Q. 2A) What are the five locations with the highest number of records?
**These are the 5 locations with the highest number of records**

NHS North West London ICB - W2U3Z	13007\
NHS Kent and Medway ICB - 91Q	12637\
NHS Devon ICB - 15N	12526\
NHS Hampshire and Isle Of Wight ICB - D9Y0V	12171\
NHS North East London ICB - A3A8R	11837

In [ ]:
# Determine the top five locations based on COUNT.
nc.groupby('sub_icb_location_name')[['icb_ons_code']].count().sort_values('icb_ons_code', ascending=False).round(1)

## Q. 2B) What are the five locations with the highest number of APPOINTMENTS?
**These are the 5 locations with the highest number of appointments**
NHS North West London ICB - W2U3Z 12142390 \
NHS North East London ICB - A3A8R 9588891 \
NHS Kent and Medway ICB - 91Q 9286167 \
NHS Hampshire and Isle Of Wight ICB - D9Y0V 8288102 \
NHS South East London ICB - 72Q 7850170\

In [ ]:
# Determine the top five locations based on SUM of appointments
nc.groupby('sub_icb_location_name')[['count_of_appointments']].sum().sort_values('count_of_appointments', ascending=False)\
.round(1)

# Number of context_type

In [ ]:
# Determine the number of context types.
context_types_num = nc['context_type'].nunique()

print("Number of unique", context_types_num)

In [ ]:
nc.groupby('context_type')[['count_of_appointments']].count().sort_values('count_of_appointments', ascending=False).round(1)

In [ ]:
nc.groupby('context_type')[['count_of_appointments']].count().sort_values('count_of_appointments', ascending=False).round(1)


# Number of appointment_status

In [ ]:
# Determine the number of appointment statuses.
appointment_status_num = ar['appointment_status'].nunique()

print("Number of unique", appointment_status_num)

In [ ]:
ar.groupby('appointment_status')[['count_of_appointments']].sum()\
.sort_values('count_of_appointments', ascending=False).round(1)

# Number of national_category

In [ ]:
# Determine the number of national categories.
national_category_num = nc['national_category'].nunique()

print("Number of unique", national_category_num)

In [ ]:
nc.groupby('national_category')[['count_of_appointments']].sum()\
.sort_values('count_of_appointments', ascending=False).round(1)

# Number of service_settings

In [ ]:
# Determine the number of service_settings.
service_setting_num = nc['service_setting'].nunique()

print("Number of unique", service_setting_num)

In [ ]:
nc.groupby('service_setting')[['count_of_appointments']].sum().\
sort_values('count_of_appointments', ascending=False).round(1)

# Business Questions

**After exploring and visualizing the database's structures, I dig into how to answer each of the core questions using the data available.**

# 1)	Utilisation Trends
a)	What is the number of appointments and records per month?\
i)	Is there any seasonality?\
b)	What is the avg time by appointment type?\
i)	which type of appointments require more time?\
c)	which service shows the most appointments?\
d)	Which locations show the highest/lowest number of appointments? \

# 2)	Has there been adequate staff and capacity in the networks?
a)	Number of locations, service settings, context types, national categories, and appointment statuses in the data.\
i)	Which service settings show the highest number of appointments?\
b)	Was there adequate staff and capacity in the networks?\
c)	What do the top 10 retweeted\favortied tweets say about the NHS? Is anything specific about the capacity?
# 3)	What are the main reasons for missed appointments?
a)	Which healthcare professional types records the highest/lowest number of missed appointments? 
b)	Does the time between the booking and the appointment influence the missed appointment? 
i)	Hypothesis: Shorter booking-to-appointment time means fewer cancellations as people are more predictable in the short-term\
c)	How does the appointment mode influence the cancellations? 
i) Hypothesis: People tend to cancel more face-to-face or virtual/phone appointments.

#

## 3) Assignment activity 3
Continue your exploratory data analysis by answering the specific questions posed by the NHS as well as additional trends identified during data exploration. You can start by looking at the date range and the change in behaviour over time for the available data sources.

### Continue to explore the data and search for answers to more specific questions posed by the NHS.

## Question 1:Between what dates were appointments scheduled?

# nc dataset: 
**2021-01-08 to 2022-12-06**
# ar dataset
**2020-01 to 2022-06**

In [ ]:
#checking if appointment_date is in DATETIMEFORMAT
column_types = nc.dtypes
column_types
#appointment date is not ready a datetime variable

In [ ]:
# Determine the minimum and maximum dates in the nc DataFrame.
# Use appropriate docstrings.
min_dat2 = nc['appointment_date'].min()
max_dat2 = nc['appointment_date'].max()
print ("The minimum date in the 'nc' dataframe is %s and the maximum is %s"%(min_dat2, max_dat2))

In [ ]:
#Change appointment_month type
ar['appointment_month'] = pd.to_datetime(ar['appointment_month']).dt.to_period('M')
ar.head()

In [ ]:
# Print the min and max dates.
min_date_ar = ar['appointment_month'].min()
max_date_ar = ar['appointment_month'].max()
print(min_date_ar,"to",max_date_ar)

#  Question 2: Which service setting was the most popular for NHS North West London from 1 January to 1 June 2022?

General Practice	3653716,\
Unmapped	299883,\
Other	116551,\
Primary Care Network	83244,\
Extended Access Provision	74399

In [ ]:
#Convert 'appointment_date' to datetime again
nc['appointment_date'] = pd.to_datetime(nc['appointment_date'])

# Filter for the date range and location
start_date = pd.to_datetime('2022-01-01')
end_date = pd.to_datetime('2022-06-01')

filtered_nc = nc[
    (nc['appointment_date'] > start_date) & 
    (nc['appointment_date'] < end_date) &
    (nc['sub_icb_location_name'] == 'NHS North West London ICB - W2U3Z')
]

# Print or use the filtered_nc DataFrame
filtered_nc.head(5)

# Which service setting was the most popular?

General Practice	3653716
Unmapped	299883
Other	116551
Primary Care Network	83244
Extended Access Provision	74399

In [ ]:
filtered_nc.groupby('service_setting')[['count_of_appointments']].sum().sort_values('count_of_appointments', ascending=False).round(1)

## **Question 3:** Which month had the highest number of appointments?

In [ ]:
#Convert appointment_date to datetime
nc['appointment_date'] = pd.to_datetime(nc['appointment_date'], format='%d/%m/%y')

# Create new columns for month and year
nc['month'] = nc['appointment_date'].dt.month
nc['year'] = nc['appointment_date'].dt.year

# Create a new column 'month_year' with 'MM/YY' format
nc['month_year'] = nc['appointment_date'].dt.strftime('%m/%y')
nc.head()

In [ ]:
nc.groupby('month_year')[['count_of_appointments']].sum().sort_values('count_of_appointments', ascending=False).round(1)

# Question 4:** What was the total number of records per month?

In [ ]:
# Total number of records per month.
nc.groupby('month')[['count_of_appointments']].count().sort_values('month', ascending=True).round(1)

#

## 4) Assignment activity 4
Use visual techniques to explore and communicate patterns in the data. Note that you will likely revisit this section when preparing the final visualisations to be used in your technical report and business presentation. Make sure to document your thoughts and observations as they relate to various potential stakeholders.

The seasons are summer (June to August 2021), autumn (September to November 2021), winter (December to February 2022), and spring (March to May 2022).

### Create visualisations and identify possible monthly and seasonal trends in the data.

In [ ]:
# Import the necessary libraries.
import seaborn as sns
import matplotlib.pyplot as plt

# Set figure size.
sns.set(rc={'figure.figsize':(15, 8)})

# Set the plot style as white.
sns.set_style('white')

# 3 visualisations with the number of monthly appointments by: service settings, context types, and national categories

In [ ]:
nc.info()

In [ ]:
# Convert the month_year to string data type for ease of visualisation.
nc['appointment_month'] = nc['appointment_month'].values.astype('str')

In [ ]:
# Aggregate on a monthly level and determine the sum of records per month.
plt.title("Number of monthly appointments")

sns.lineplot(x='appointment_month', y='count_of_appointments', data=nc, ci=None)

# Service settings:

In [ ]:
# Plot the appointments over the available date range, and review the service settings for months.
# Create a lineplot.
plt.title("Number of monthly appointments by Service Setting")
sns.lineplot(x='appointment_month', y='count_of_appointments', hue='service_setting', data=nc, ci=None)

# Context types

In [ ]:
plt.title("Number of monthly appointments by Context Tupe")

sns.lineplot(x='appointment_month', y='count_of_appointments', hue='context_type', data=nc,ci=None)

# National categories:

In [ ]:
plt.figure(figsize=(15, 8))
plt.title("Number of monthly appointments by National Category")
sns.lineplot(x='appointment_month', y='count_of_appointments', hue='national_category', data=nc, ci= None)

# Filtering only Top 5 National Categories

In [ ]:
# Filter for top 5 national categories
top_categories = ['General Consultation Routine', 'General Consultation Acute', 'Clinical Triage', 'Planned Clinics', 'Inconsistent Mapping']
nc_filtered_top5national_category = nc[nc['national_category'].isin(top_categories)]

# Verify filtered data
nc_filtered_top5national_category.head()

In [ ]:
plt.title("Number of monthly appointments across Top 5 National Categories")

# Place legend outside the chart
sns.lineplot(x='appointment_month', y='count_of_appointments', \
             hue='national_category', ci=None, data=nc_filtered_top5national_category)
# Place legend outside the chart
plt.legend(loc='upper left', bbox_to_anchor=(1, 1))

# Objective 2 : Create four visualisations indicating the number of appointments for service setting per season.

# #  1) created a column for seasons

In [ ]:
nc.dtypes

In [ ]:
nc['month'] = nc['appointment_date'].dt.month
nc.head()

In [ ]:
# Define conditions and corresponding values
conditions = [
    (nc['month'].isin([12,1,2])),  # Winter
    (nc['month'].isin([3,4,5])),  # Spring
    (nc['month'].isin([6,7,8])),  # Summer
    (nc['month'].isin([9,10,11]))  # Autumn
]
values = ['Winter', 'Spring', 'Summer', 'Autumn']

# Create a new 'season' column based on conditions
nc['season'] = np.select(conditions, values, default='Unknown')

nc.groupby(['season','month','month_year']).sum('count_of_appointments')

In [ ]:
# Plotting
plt.figure(figsize=(15, 5))
ax = sns.barplot(x='appointment_month', y='count_of_appointments', data=nc, hue='season', estimator=sum)

plt.title("Appointments by Season")
plt.tight_layout()

plt.show()

In [ ]:

plt.title("Evolution of Seasonal Appointments by Year") 
sns.barplot(x='season', y='count_of_appointments', hue='year', data=nc, estimator = sum)
# Adding data labels
for p in ax.patches:
    ax.annotate(format(p.get_height(), '.0f'),
                (p.get_x() + p.get_width() / 2., p.get_height()),
                ha='center', va='center', xytext=(0, 10),
                textcoords='offset points', fontsize=10, color='black')

plt.tight_layout()  
plt.show()

# Autumn

In [ ]:
# create a subset of NC 
nc_autumn = nc.loc[nc['season']
                   == 'Autumn']
# View the output
nc_autumn.head()

In [ ]:
nc_autumn.shape

In [ ]:
# Visualise the subset using a lineplot.
sns.lineplot(x='appointment_month', y='count_of_appointments', hue='context_type', data=nc_autumn)

# Winter

In [ ]:
# Create a separate data set that can be used in future weeks. 
nc_winter = nc.loc[nc['season']
                   == 'Winter']
# View the output.
nc_winter.shape
nc_winter.head()

In [ ]:
# Visualise the subset using a lineplot.
sns.lineplot(x='appointment_month', y='count_of_appointments', hue='service_setting', data=nc_winter)

# Spring

In [ ]:
# Create a separate data set that can be used in future weeks. 
nc_spring = nc.loc[nc['season']
                   == 'Spring']
# View the output.
nc_spring.shape
nc_spring.head()

In [ ]:
# Visualise the subset using a lineplot.
sns.lineplot(x='appointment_month', y='count_of_appointments', hue='service_setting', data=nc_spring)

# Summer

In [ ]:
# Create a separate data set that can be used in future weeks. 
nc_summer = nc.loc[nc['season']
                   == 'Summer']
# View the output.
nc_summer.shape
nc_summer.head()

In [ ]:
# Visualise the subset using a lineplot.
sns.lineplot(x='appointment_month', y='count_of_appointments', hue='service_setting', data=nc_summer)

## 5) Assignment activity 5

# Analyse tweets from Twitter with hashtags related to healthcare in the UK.

In [ ]:
# Set the figure size.
sns.set(rc={'figure.figsize':(15, 8)})

# Set the plot style as white.
sns.set_style('white')

# Maximum column width to display.
pd.options.display.max_colwidth = 200

In [ ]:
pip install wordcloud

In [ ]:
# Start with loading all necessary libraries
from os import path
from PIL import Image
from wordcloud import WordCloud, STOPWORDS, ImageColorGenerator

In [ ]:
# View the DataFrame.
tweets.head(5)

In [ ]:
# Explore the metadata and data set.
tweets.info()

In [ ]:
tweets.shape

# Would it be useful to only look at retweeted and favourite tweet messages?
# Explain your answer.
When analysing data scraped from Twitter, it is useful to focus on retweeted and favourited tweets for several reasons:
1. Engagement Metrics: These metrics indicate user engagement and show what content is popular or impactful.
2. Influence: Retweeted and favourited tweets often come from influential users or contain influential content, providing insights into key players or influencers. They can also help evaluate marketing campaigns by indicating which messages are gaining traction.
3. Filter Noise: Retweeted and favourited tweets filter out less relevant content, enabling more targeted analysis.
4. User Sentiment: Retweeted and favourited tweets indicate positive sentiment, which can be useful in helping understand user preferences.

In [ ]:
# create a dataframe for full text tweets 
tweet_text=tweets['tweet_full_text']
tweet_text

In [ ]:
tweets['tweet_entities_hashtags']

In [ ]:
# **Remove Duplicates**
#remove Nan Values from tweets['tweet_full_text']
tweets['tweet_full_text']=tweets['tweet_full_text'].fillna('')
#remove Nan Values from tweets['tweet_entities_hashtags']
tweets['tweet_entities_hashtags']=tweets['tweet_entities_hashtags'].fillna('')

In [ ]:
# Extracting hashtags from 'tweet_full_text' column
hashtags = tweets['tweet_full_text'].str.lower().str.findall(r'#(\w+)').explode()

# Reset the index to avoid duplicate index issues
hashtags = hashtags.reset_index(drop=True)

# Create a new column 'hashtags_only' with the extracted hashtags
tweets['hashtags_only'] = hashtags

# Display the DataFrame with the new 'hashtags_only' column
tweets.head()

# which are the most retweeted hashtags?

In [ ]:
# Group by 'hashtags_only', sum the 'tweet_retweet_count', and sort the values
hashtags_retweet_sum = tweets.groupby('hashtags_only')['tweet_retweet_count'].sum().reset_index()

# Sort the values in descending order
hashtags_retweet_sum = hashtags_retweet_sum.sort_values('tweet_retweet_count', ascending=False)

# Round the 'tweet_retweet_count' column to 1 decimal place
hashtags_retweet_sum['tweet_retweet_count'] = hashtags_retweet_sum['tweet_retweet_count'].round(1)

# Display the DataFrame with summed retweet counts for each hashtag
hashtags_retweet_sum.head(15)

top_10_hashtags_retweet_sum = hashtags_retweet_sum.head(10)
top_10_hashtags_retweet_sum.head(10)

# which are the most favorited hashtags?

In [ ]:
# Group by 'hashtags_only', sum the 'tweet_favorite_count', and sort the values
hashtags_favorite_sum_sorted = tweets.groupby('hashtags_only')['tweet_favorite_count'].sum().reset_index()

# Sort the values in descending order
hashtags_favorite_sum_sorted = hashtags_favorite_sum_sorted.sort_values('tweet_favorite_count', ascending=False)

# Round the 'tweet_favorite_count' column to 1 decimal place
hashtags_favorite_sum_sorted['tweet_favorite_count'] = hashtags_favorite_sum_sorted['tweet_favorite_count'].round(1)

# Display the DataFrame with summed favorite counts for each hashtag, sorted in descending order
hashtags_favorite_sum_sorted.head(10)

# filter tweets with words capacity, busy or saturate

In [ ]:
# Assuming 'tweets' is your DataFrame
# Filter tweets that contain specified words
tweets_filtered_capacity = tweets[
    tweets['tweet_full_text'].str.contains(r'\b(?:capacity|saturate|busy)\b', case=False)
]

# Display the filtered DataFrame
tweets_filtered_capacity.head()

# top retweeted tweets

In [ ]:
top_retweeted_tweets = tweets.sort_values('tweet_retweet_count', ascending=False)

top_retweeted_tweets.head(10)

# hastags of the top retweeted tweets

In [ ]:
hashtags_of_top_10_RT = top_retweeted_tweets['hashtags_only']
hashtags_of_top_10_RT.head()

In [ ]:
top_10_hashtags_retweet_sum.columns

In [ ]:
# Create a bar plot
plt.figure(figsize=(15, 3))
sns.barplot(x='hashtags_only', y='tweet_retweet_count', data=top_10_hashtags_retweet_sum, estimator = sum)

# top 10 favorited tweets

In [ ]:
top_favortited_tweets = tweets.sort_values('tweet_favorited', ascending=False)

top_favortited_tweets.head(10)

# hastags of the top 10 favorited tweets

In [ ]:
hashtags_of_top_10_fav_tweets = top_favortited_tweets['hashtags_only']
hashtags_of_top_10_fav_tweets.head()

# barplot for top 10 favorited hashtags

In [ ]:
top_10_hashtags_favorited = hashtags_favorite_sum_sorted.head(10)
top_10_hashtags_favorited.columns

In [ ]:
# Create a bar plot
plt.figure(figsize=(15, 6))
sns.barplot(x='hashtags_only', y='tweet_favorite_count', data=top_10_hashtags_favorited, estimator = sum)

## USING WORDCLOUD TO EXPLORE HASHTAG AND TWITTER TEXTS

# working on the hashtags

In [ ]:
# Group by 'hashtags_only', sum the 'tweet_retweet_count', and sort the values
hashtags_retweet_sum = tweets.groupby('hashtags_only')['tweet_retweet_count'].sum().reset_index()

# Sort the values in descending order
hashtags_retweet_sum = hashtags_retweet_sum.sort_values('tweet_retweet_count', ascending=False)

# Round the 'tweet_retweet_count' column to 1 decimal place
hashtags_retweet_sum['tweet_retweet_count'] = hashtags_retweet_sum['tweet_retweet_count'].round(1)

# Display the DataFrame with summed retweet counts for each hashtag
hashtags_retweet_sum.head(15)

# wordcloud for the hashtags

In [ ]:
# Drop duplicates
hashtags_unique = hashtags.drop_duplicates()

# Display the first 10 unique hashtags
hashtags_unique.head(10)

In [ ]:
# WORLDCLOUD FOR NHS HASHTAGS

In [ ]:
# Convert the Series to a single string
text = ' '.join(hashtags_unique.astype(str))

# Create and generate a word cloud image
wordcloud = WordCloud().generate(text)

# Display the generated image
plt.imshow(wordcloud, interpolation='bilinear')
plt.axis("off")
plt.show()

# wordcloud for the tweet_full_text

In [ ]:
# Drop duplicates
tweet_full_text_unique = tweets['tweet_full_text'].drop_duplicates()

# Display the first 10 unique hashtags
tweet_full_text_unique.head(10)

In [ ]:
# Convert the Series to a single string
text2 = ' '.join(tweet_full_text_unique.astype(str))

#remore https and RT
text2 = text2.replace('RT', '').replace('https','').replace('co','').replace('amp','')



# Create and generate a word cloud image
wordcloud = WordCloud().generate(text2)

# Display the generated image
plt.imshow(wordcloud, interpolation='bilinear')
plt.axis("off")
plt.show()

## 6) Assignment activity 6
In the final module you will answer additional questions from the NHS as well as additional questions and observations you identified. Make sure to revisit previous sections that may provide useful insights to the questions posed in Module 6 where required.

### Investigate the main concerns posed by the NHS.

In [ ]:
#view the ar dataframe
ar.head()

In [ ]:
ar.dtypes

In [ ]:
# Print the min and max dates.
min_date_ar = ar['appointment_month'].min()
max_date_ar = ar['appointment_month'].max()
print(min_date_ar,"to",max_date_ar)

In [ ]:
# Filter the data set to only look at data from 2021-08 onwards.
# Filter rows tut_2.
ar2 = ar.loc[ar['appointment_month']>='2021-08']
ar2

# UTILISATION TRENDS

### 3) Capacity: Should the NHS start looking at increasing staff levels?

# appointments per month

In [ ]:
#determine the number of appointments by month
ar2.groupby('appointment_month')[['count_of_appointments']].sum().sort_values('count_of_appointments', ascending=False).round(1)

In [ ]:
# Determine the total number of appointments per month.
ar3 = ar2[['appointment_month', 'count_of_appointments']].groupby(['appointment_month']).sum().sort_values('appointment_month').reset_index()

# Add a new column to indicate the average utilisation of services.
# Monthly aggregate / 30 to get to a daily value.
ar3['utilisation'] = round(ar3['count_of_appointments'] / 30, 1)

# View the DataFrame.
ar3

In [ ]:
# Convert the appointment_month to string data type for ease of visualisation.
ar3['appointment_month'] = ar3['appointment_month'].values.astype('str')
ar3.dtypes

# monthly appointments

In [ ]:
# Plot sum of count of monthly visits.

fig, ax = plt.subplots()
fig.set_size_inches(12, 3)
sns.despine(left=True)
plt.title("Number of monthly visits")
sns.lineplot(x='appointment_month', y='count_of_appointments', data=ar3)

# Add data labels in millions
for index, value in enumerate(ar3['count_of_appointments']):
    plt.text(index, value, "{:.1f}M".format(value/1e6), ha='center')
    
# Rotate x-axis labels for better visibility
plt.xticks(rotation=45)

# Show legend
plt.legend(loc='best')

# Show the plot
plt.show()

# daily utilisation
# NHS Capacity = 1,200,000 appointments per day

**The NHS has provided a figure of an average of 1.2M appointments per day as a guideline for maximum capacity.

In [ ]:
#importing necessary library
from matplotlib.ticker import FuncFormatter  # Import FuncFormatter for custom formatting

# Plot capacity utilisation.

# Seaborn - Bar Plot
fig, ax = plt.subplots()
fig.set_size_inches(10, 3)
sns.despine(left=True)

sns.barplot(x='appointment_month', y='utilisation', data=ar3, ci=None)

plt.title('Daily Utilisation across Months')  # Adding title
plt.xlabel('Month')  # Adding x-axis label
plt.ylabel('Daily Utilisation')  # Adding y-axis label

# Adding data labels to the bars, formatting as millions
def millions_format(x, pos):
    return f'{x/1e6:.1f}M'

formatter = FuncFormatter(millions_format)
plt.gca().yaxis.set_major_formatter(formatter)

for index, value in enumerate(ar3['utilisation']):
    plt.text(index, value + 0.02 * max(ar3['utilisation']), f'{value/1e6:.1f}M', ha='center')
    
plt.xticks(rotation=45)  
plt.tight_layout()  
plt.show()

In [ ]:
#table with similar info
ar3.groupby('appointment_month')[['utilisation']].sum().sort_values('utilisation', ascending=False).round(1)

The NHS has provided a figure of an average of 1.2M daily appointments for maximum capacity.
As you can see in the graph above, every month is within the NHS's maximum capacity: 1.2M daily appointments.
It would be prudent to rotate staff so that peak months (Sep, Oct,Nov) have a larger staff, while less busy months (December) have a smaller staff. 
Concentrating the vacation period of NHS employees in December could be a good strategy, adding some benefits to whom take vacation during this period. However, watching out to maintain ideal capacity in December as well.

# Q2) How do the healthcare professional types differ over time?

In [ ]:
# New df for hcp_type
ar_hcp = ar2 [['appointment_month', 'hcp_type', 'count_of_appointments']].\
groupby(['hcp_type', 'appointment_month']).sum().reset_index()
ar_hcp

In [ ]:
# Convert the appointment_month to string data type for ease of visualisation.
ar_hcp['appointment_month'] = ar_hcp['appointment_month'].values.astype('str')
ar_hcp

In [ ]:
from matplotlib.ticker import FuncFormatter  # Import FuncFormatter for custom formatting

# Plotting with Seaborn - Bar Plot
fig, ax = plt.subplots()
fig.set_size_inches(10,4)

sns.barplot(x='appointment_month', y='count_of_appointments', hue='hcp_type', data=ar_hcp)

plt.title("Appointments by Professional Type across Months") 
plt.xlabel('Month-Year') 
plt.ylabel('Total Appointments Per Month')  
plt.legend(title='Professional Type', bbox_to_anchor=(1.05, 1), loc='upper left', borderaxespad=0.)  # Adding legend

# Adding data labels to the bars, formatted as millions
def millions_format(x, pos):
    return f'{x/1e6:.1f}M'

formatter = FuncFormatter(millions_format)
ax.yaxis.set_major_formatter(formatter)

for p in ax.patches:
    height = p.get_height()
    ax.text(p.get_x() + p.get_width()/2., height + 0.02 * max(ar_hcp['count_of_appointments']),
            f'{height/1e6:.1f}M', ha='center')

# Set y-axis ticks to show in plain format 
ax.yaxis.set_major_formatter(plt.FuncFormatter(lambda x, loc: "{:,.0f}".format(x)))

plt.xticks(rotation=45)  
plt.tight_layout()  
plt.show()

# # 4) Are there significant changes in whether or not visits are attended?

In [ ]:
# New df for appointment_status
ar_appointment_status = ar2 [['appointment_mode', 'appointment_status', 'count_of_appointments',
                              'hcp_type','time_between_book_and_appointment',
                              'appointment_month']].groupby(['appointment_mode','time_between_book_and_appointment',
                                                             'hcp_type','appointment_status', 'appointment_month'
                                                            ]).sum().reset_index()
ar_appointment_status

In [ ]:
ar_appointment_status.dtypes

In [ ]:
# Convert the appointment_month to string data type for ease of visualisation.
ar_appointment_status['appointment_month'] = ar_appointment_status['appointment_month'].values.astype('str')
ar_appointment_status.dtypes

# Creating a Lineplot  by Appointment_Status

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

# Remove rows with non-numeric values in 'count_of_appointments' column
ar_appointment_status['count_of_appointments'] = pd.to_numeric(ar_appointment_status['count_of_appointments'], errors='coerce')
ar_appointment_status = ar_appointment_status.dropna(subset=['count_of_appointments'])

# Set the figure size
fig, ax = plt.subplots(figsize=(10, 4))

# Title for the plot
plt.title("Number of Monthly Appointments by Appointment Status")

# Create the line plot
sns.lineplot(x='appointment_month', y='count_of_appointments', hue='appointment_status', data=ar_appointment_status, ci=None, ax=ax)

# Rotate x-axis labels for better visibility
plt.xticks(rotation=45)

# Show the plot
plt.show()

# creating a new df only with missed appointments.  
**appointment_status = DNA**

In [ ]:
ar_DNA = ar_appointment_status[ar_appointment_status['appointment_status'] == 'DNA']
ar_DNA

In [ ]:
ar_DNA.dtypes

In [ ]:
ar_DNA['hcp_type'] = ar_DNA['hcp_type'].astype('category')
ar_DNA['appointment_status'] = ar_DNA['appointment_status'].astype('category')
ar_DNA['time_between_book_and_appointment'] = ar_DNA['time_between_book_and_appointment'].astype('category')
ar_DNA['appointment_mode'] = ar_DNA['appointment_mode'].astype('category')
ar_DNA['count_of_appointments'] = pd.to_numeric(ar_DNA['count_of_appointments'])

In [ ]:
ar_DNA.dtypes

# Question 4: Are there changes in terms of appointment type and the busiest months?

In [ ]:
# New df for appointment_tyoe
ar_mode = ar2 [['appointment_mode', 'count_of_appointments',
                'appointment_month']].groupby(['appointment_mode','appointment_month']).sum().reset_index()
ar_mode

In [ ]:
ar_mode.dtypes

In [ ]:
# Convert the appointment_month to string data type for ease of visualisation.
ar_mode['appointment_month'] = ar_mode['appointment_month'].values.astype('str')
ar_mode.dtypes

In [ ]:
ar_mode['appointment_mode'] = ar_mode['appointment_mode'].astype('category')
ar_mode['count_of_appointments'] = pd.to_numeric(ar_mode['count_of_appointments'])
ar_mode.dtypes

In [ ]:
# Create the plot
fig, ax = plt.subplots()
fig.set_size_inches(12, 8)
plt.title("Monthly Sum of Appointments")
sns.lineplot(x='appointment_month', y='count_of_appointments', data=ar_mode,ci=None)
plt.xlabel('Month of Appointment')
plt.ylabel('Total Appointments Per Month (in 10 Millions)')
plt.show;

In [ ]:
# Set the figure size
fig, ax = plt.subplots(figsize=(10, 5))

# Title for the plot
plt.title("Number of Appointments by Mode Across Months")

# Create the line plot
sns.lineplot(x='appointment_month', y='count_of_appointments', hue='appointment_mode', data=ar_mode, ci=None)

# Place legend outside the chart
plt.legend(loc='upper left', bbox_to_anchor=(1, 1))
# Show the plot
plt.show()

In [ ]:
# Group by 'appointment_month' and 'hcp_type', calculate sum
ar_mode = ar_appointment_status.groupby(['appointment_month', 'appointment_mode'])['count_of_appointments'].sum().reset_index()

# Calculate total appointments for each 'appointment_month'
total_apps_per_month = ar_mode.groupby('appointment_month')['count_of_appointments'].transform('sum')

# Calculate proportions (%) for each 'hcp_type' in each 'appointment_month'
ar_mode['proportion'] = (ar_mode['count_of_appointments'] / total_apps_per_month) * 100

# Round the proportions to 1 decimal place
ar_mode['proportion'] = ar_mode['proportion'].round(1)

# Print the DataFrame
ar_mode.head()

In [ ]:
fig.set_size_inches(10, 2)

plt.title("Importance(%) of Type of Appointment across Month")

sns.lineplot(x='appointment_month', y='proportion', hue = 'appointment_mode', data=ar_mode,ci=None)
# Place legend outside the chart
plt.legend(loc='upper left', bbox_to_anchor=(1, 1))

# Add data labels without percentage
for line in range(0, ar_mode.shape[0]):
    for x, y in zip(ar_mode['appointment_month'], ar_mode['proportion']):
        label = '{:.0f}'.format(y)
        plt.text(x, y, label, ha='center', va='bottom')


plt.show;

# Question 5:Are there any trends in time between booking an appointment?

In [ ]:
# New df for appointment_tyoe
ar_time = ar2 [['time_between_book_and_appointment', 'count_of_appointments','appointment_month']].\
groupby(['time_between_book_and_appointment','appointment_month']).sum().reset_index()
ar_time

In [ ]:
ar_time.dtypes

In [ ]:
# Convert the appointment_month to string data type for ease of visualisation.
ar_time['appointment_month'] = ar_time['appointment_month'].values.astype('str')
ar_time.dtypes

In [ ]:
ar_time['time_between_book_and_appointment'] = ar_time['time_between_book_and_appointment'].astype('category')
ar_time['count_of_appointments'] = pd.to_numeric(ar_time['count_of_appointments'])
ar_time.dtypes

In [ ]:
# Set the figure size
fig, ax = plt.subplots(figsize=(10, 5))

# Title for the plot
plt.title("Number of Appointments by Time Between Boking and Appointment Across Months")

# Create the line plot
sns.lineplot(x='appointment_month', y='count_of_appointments', hue='time_between_book_and_appointment', data=ar_time, ci=None)
# Place legend outside the chart
plt.legend(loc='upper left', bbox_to_anchor=(1, 1))

# Show the plot
plt.show()

In [ ]:
# Group by 'appointment_month' and 'hcp_type', calculate sum
ar_time = ar_appointment_status.groupby(['appointment_month', 'time_between_book_and_appointment'])['count_of_appointments'].sum().reset_index()

# Calculate total appointments for each 'appointment_month'
total_apps_per_month = ar_time.groupby('appointment_month')['count_of_appointments'].transform('sum')

# Calculate proportions (%) for each 'hcp_type' in each 'appointment_month'
ar_time['proportion'] = (ar_time['count_of_appointments'] / total_apps_per_month) * 100

# Round the proportions to 1 decimal place
ar_time['proportion'] = ar_time['proportion'].round(1)

# Print the DataFrame
ar_time.head()

In [ ]:

fig.set_size_inches(10, 2)

plt.title("Importance(%) of Time Gap Between Booking and Appointment across Month")

sns.lineplot(x='appointment_month', y='proportion', hue = 'time_between_book_and_appointment', data=ar_time,ci=None)
# Place legend outside the chart
plt.legend(loc='upper left', bbox_to_anchor=(1, 1))
# Add data labels without percentage
for line in range(0, ar_time.shape[0]):
    for x, y in zip(ar_time['appointment_month'], ar_time['proportion']):
        label = '{:.0f}'.format(y)
        plt.text(x, y, label, ha='center', va='bottom')


plt.show;

In [ ]:
ar_time.info()

# Question 6: How does the spread of service settings compare?

In [ ]:
# Let's go back to the national category DataFrame you created in an earlier assignment activity.
nc.head()

In [ ]:
nc.columns

In [ ]:
nc.dtypes

In [ ]:
# Create a new DataFrame consisting of the month of appointment and the number of appointments.
nc2 = nc [['appointment_month', 'count_of_appointments', 'service_setting']].\
groupby(['appointment_month','service_setting']).sum().reset_index()


# View the DataFrame.
nc2.head()

In [ ]:
# Create the plot
fig, ax = plt.subplots()
fig.set_size_inches(12, 8)
plt.title("Monthly Sum of Appointments")
sns.lineplot(x='appointment_month', y='count_of_appointments', data=nc2,ci=None)
plt.xlabel('Month of Appointment')
plt.ylabel('Total Appointments Per Month (in 10 Millions)')
plt.show;

In [ ]:
# Create a boxplot to investigate the spread of service settings.
fig, ax = plt.subplots()
fig.set_size_inches(12, 8)
plt.title("Spread of Service Settings")
sns.barplot(x='appointment_month', y='count_of_appointments', hue='service_setting',
 data=nc2)
plt.xlabel('Month of Appointment')
plt.ylabel('Tot Appointments Per Month (in 10 Millions)')
plt.legend(bbox_to_anchor=(1.05, 1), loc='best', borderaxespad=0)
plt.show;

In [ ]:
# Create a boxplot to investigate the service settings EXCLUDING GP.
fig, ax = plt.subplots()
fig.set_size_inches(12, 4)
plt.title("Number of Appointments by Service Settings - Excluding GP")
sns.barplot(x='appointment_month', y='count_of_appointments', hue='service_setting',
 data=nc2[nc2.service_setting != 'General Practice'])
plt.xlabel('Month of Appointment')
plt.ylabel('Total Appointments Per Month (in Millions)')
plt.legend(bbox_to_anchor=(1.05, 1), loc='best', borderaxespad=0)
plt.show;

### Provide a summary of your findings and recommendations based on the analysis.

> Double-click to insert your summary.

# Q7) EXTRA:What are the main reasons for missed appointments?

# Missed appointments by HCP_Type

In [ ]:

# Group by 'appointment_month' and 'hcp_type', calculate sum
hcp_DNA = ar_DNA.groupby(['appointment_month', 'hcp_type'])['count_of_appointments'].sum().reset_index()
hcp_DNA.head()

In [ ]:
# Set the figure size
fig, ax = plt.subplots(figsize=(10, 5))

# Title for the plot
plt.title("Number of Missed Appointments by HCP Type")

# Create the line plot
sns.lineplot(x='appointment_month', y='count_of_appointments', hue='hcp_type', data=hcp_DNA, color='red', ci=None, ax=ax)

# Show the plot
plt.show()

In [ ]:
# Group by 'appointment_month' and 'hcp_type', calculate sum
hcp_DNA = ar_DNA.groupby(['appointment_month', 'hcp_type'])['count_of_appointments'].sum().reset_index()

# Calculate total appointments for each 'appointment_month'
total_apps_per_month = hcp_DNA.groupby('appointment_month')['count_of_appointments'].transform('sum')

# Calculate proportions (%) for each 'hcp_type' in each 'appointment_month'
hcp_DNA['proportion'] = (hcp_DNA['count_of_appointments'] / total_apps_per_month) * 100

# Round the proportions to 1 decimal place
hcp_DNA['proportion'] = hcp_DNA['proportion'].round(1)

# Print the DataFrame
hcp_DNA.head()

In [ ]:
fig.set_size_inches(10, 2)

plt.title("Importance(%) of HCP Type among Missed Appointments")

sns.lineplot(x='appointment_month', y='proportion', hue = 'hcp_type', data=hcp_DNA, color='red',ci=None)

plt.show;

# Missed appointments by time_between_book_and_appointment

In [ ]:
# Group by 'appointment_month' and 'time_between_book_and_appointment', calculate sum
time_DNA = ar_DNA.groupby(['appointment_month', 'time_between_book_and_appointment'])['count_of_appointments'].sum().reset_index()
time_DNA.head()

# Which periods between booking and appointment show higher levels of missed appointments?

In [ ]:
time_DNA.groupby(['time_between_book_and_appointment']).sum('count_of_appointments')\
.sort_values('count_of_appointments', ascending=False).round(1)

In [ ]:
# Set the figure size
fig, ax = plt.subplots(figsize=(10, 5))

# Title for the plot
plt.title("Number of Missed Appointments by Time Between Booking and Appointment")

# Create the line plot
sns.lineplot(x='appointment_month', y='count_of_appointments', hue='time_between_book_and_appointment', data=time_DNA, color='red', ci=None, ax=ax)

# Place legend outside the chart
plt.legend(loc='upper left', bbox_to_anchor=(1, 1))
# Show the plot
plt.show()

In [ ]:
#Group by 'appointment_month' and 'time_between_book_and_appointment', calculate sum
time_DNA = ar_DNA.groupby(['appointment_month', 'time_between_book_and_appointment'])['count_of_appointments'].sum().reset_index()

# Calculate total appointments for each 'appointment_month'
total_apps_per_month = time_DNA.groupby('appointment_month')['count_of_appointments'].transform('sum')

# Calculate proportions (%) for each 'hcp_type' in each 'appointment_month'
time_DNA['proportion'] = (time_DNA['count_of_appointments'] / total_apps_per_month) * 100

# Round the proportions to 1 decimal place
time_DNA['proportion'] = time_DNA['proportion'].round(1)

# Print the DataFrame
time_DNA

In [ ]:
# Set the figure size
fig = plt.figure(figsize=(10, 10))

# Set the title
plt.title('Importance (%) of Period Between Booking and Appointment among Missed Appointments')

# Create the line plot
sns.lineplot(x='appointment_month', y='proportion', hue='time_between_book_and_appointment', data=time_DNA, ci=None)

# Add data labels
for line in range(0, time_DNA.shape[0]):
    for x, y in zip(time_DNA['appointment_month'], time_DNA['proportion']):
        label = '{:.0f}%'.format(y)
        plt.text(x, y, label, ha='center', va='bottom')

# Place legend outside the chart
plt.legend(loc='upper left', bbox_to_anchor=(1, 1))

# Display the plot
plt.show()

# Missed appointments by Appointment Mode

In [ ]:
# Group by 'appointment_month' and 'time_between_book_and_appointment', calculate sum
mode_DNA = ar_DNA.groupby(['appointment_month', 'appointment_mode'])['count_of_appointments'].sum().reset_index()
mode_DNA.head()

In [ ]:
# Which appointments months? show higher levels of missed appointments?

In [ ]:
mode_DNA.groupby(['appointment_mode']).sum('count_of_appointments').sort_values('count_of_appointments', ascending=False).round(1)

In [ ]:
# Convert 'appointment_month' to categorical
mode_DNA['appointment_month'] = pd.Categorical(mode_DNA['appointment_month'], categories=mode_DNA['appointment_month'].unique(), ordered=True)

# Set the figure size
fig, ax = plt.subplots(figsize=(10, 5))

# Title for the plot
plt.title("Number of Missed Appointments by Appointment Mode across Months")

# Create the line plot
sns.lineplot(x='appointment_month', y='count_of_appointments', hue='appointment_mode', data=mode_DNA, ci=None)

# Show the plot
plt.show()

In [ ]:
# Calculate total appointments for each 'appointment_month'
total_apps_per_month = mode_DNA.groupby('appointment_month')['count_of_appointments'].transform('sum')

# Calculate proportions (%) for each 'hcp_type' in each 'appointment_month'
mode_DNA['proportion'] = (mode_DNA['count_of_appointments'] / total_apps_per_month) * 100

# Round the proportions to 1 decimal place
mode_DNA['proportion'] = mode_DNA['proportion'].round(1)

# Print the DataFrame
mode_DNA

In [ ]:
# Set the figure size
fig, ax = plt.subplots(figsize=(10, 5))

# Title for the plot
plt.title("% of Missed Appointments by Appointment Mode")

# Create the stacked bar plot
sns.barplot(x='appointment_month', y='proportion', hue='appointment_mode', data=mode_DNA, ci=None)

# Add data labels with one decimal place
for p in ax.patches:
    width = p.get_width()
    height = p.get_height()
    x, y = p.get_xy()
    ax.annotate(f'{height:.1f}', (x + width/2, y + height/2), ha='center', va='center')

# Show the plot
plt.show()